:root{
  --bar-desktop:rgba(31,31,31,1)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100vh;
  user-select: text;
}

body::-webkit-scrollbar {
  width:10px;
}

body::-webkit-scrollbar-track {
  background-color:rgba(0, 0, 0, .5);
  border-radius:0px;
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(255,255,255, 1);
  border-radius:5px;
}

main{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "nav-bar"
    "main" 
    "project"
    "contact"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 25px;
}

article ::selection{
  background-color: #fff;
  color: black;
}

.header{
  grid-area: nav-bar;
  background-color: rgba(0, 0, 0, .95);
}

.header .nav-bar{
  width: 50%;
  height: 100%;
  margin: auto;
}

.header .nav-bar ul{
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .nav-bar li{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.header .nav-bar li:hover{
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

.main{
  grid-area: main;
  background-color: rgba(31, 31, 31, .8);
  position: relative;
}

#me{
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url("./assets/mountain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

#me .container{
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, transparent , rgba(0,0,0,.5) 95%);
}

#me .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

#me .content .title{
  font-size: 5em;
  font-weight: 600;
}

#me .content p{
  color: rgba(255, 255, 255, .4);
  font-size: 1.5em;
  font-weight: 400;
}

#me .content img{
  width: 15em;
}

#me .aside-contact{
  width: 60px;
  height: 100%;
  padding: 5px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#me .aside-contact .nav-contact{
  position: relative;
  list-style-type: none;
}

#me .aside-contact .contact img{
  width: 30px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#me .aside-contact .nav-contact li::before{
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background: #fff;
  margin: auto;
}

#me .aside-contact .nav-contact li:last-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background: #fff;
  margin: auto;
}

.container-terminal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: 0;
  margin-top: 20px;
  transition: height 250ms linear;
}

/* Terminal */
.terminal{
  width: 850px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .95);
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: height 250ms linear;
  animation: move 250ms linear;
}

@keyframes move {
  from{bottom: -550px; opacity: 0;}
  to{bottom: 0;}
}

/* icon CMD */
#iconCMD{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* Header terminal */
.terminal .header{
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.terminal .img{
  height: 100%;
}

/* Text terminal */
.terminal .body{
  width: 100%;
  height: calc(100% - 30px);
  overflow-y: scroll;
  padding: 10px;
  color: rgba(255, 255, 255, .75);
  background-color: rgba(255, 255, 255, .05);
}

.terminal .letters{
  word-break: break-all;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 5px;
}
.terminal .letters a{
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}

.terminal .body p:last-child:after{
  content: "";
  width: 5px;
  height: 10px;
  border-right: 4px solid #fff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,to{border-color: transparent;}
  50%{border-color: #fff;}
}

.terminal .body::-webkit-scrollbar {
  width:15px;
}

.terminal .body::-webkit-scrollbar-track {
  background-color:rgb(255, 255, 255);
  border-radius:0px;
}

.terminal .body::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0, 0.5);
  border-radius:0px;
}

#projects{
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 50px;
}

#projects .container{
  width: 1024px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0, 0.2);
  background-color: rgba(0,0,0, 0.2);
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.4);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

#projects .container .project{
  width: 300px;
  height: 350px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  margin: auto;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
}

#projects .container .project img{
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

#projects .container .project .title{
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
}

#projects .container .project p{
  font-size: 0.8em;
  margin-top: 15px;
  text-align: center;
}

#projects .container .project:hover{
  bottom: 5px;
  transition: bottom .3s linear;
}

/* Footer */
.footer{
  grid-area: footer;
  background-color: var(--bar-desktop);
  text-align: center;
  color: #fff;
}

@media screen {
  
}
