header {
  background-color: #1f1f1f;
  padding: 2rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Nav */
.nav-bar {
  width: 30rem;
}

/* List */
.nav-bar #list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Itens */
#list .itens {
  width: 100%;
  height: 2rem;
  margin: 0.5rem;
}

#list .itens {
  text-align: center;
  padding: 0.55rem 1rem;
  cursor: pointer;
}

.itens.active {
  background-color: #deff00;
  transition: ease 500ms background-color;
  border-radius: 1.25em;
}

/* List link */
#list .itens a {
  color: #fff;
  text-decoration: none;
}

#list .itens.active a {
  color: #272727;
}

/* theme dark/ligth */
.change-theme {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.label {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.fas {
  position: absolute;
}

.fa-moon {
  bottom: -20px;
}

.dark .fa-sun {
  visibility: hidden;
}

.dark .fa-moon {
  bottom: initial;
}

#checkbox {
  display: none;
}

@media screen and (max-width: 480px) {
  header {
    padding: 1rem;
  }
  .nav-bar#list {
    width: 100%;
  }
  #list.itens {
    width: 5rem;
  }
  .nav-bar #list {
    flex-direction: column;
    text-align: center;
  }
  .change-theme {
    position: fixed;
    bottom: 1rem;
    left: 0.9rem;
    top: initial;
  }
  .label {
    border-color: #1f1f1f;
  }
}
